<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Protokode</title>
    <meta name="description" content="test">
	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/65f54486e0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <!-- CSS perso -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('templates/header.ejs'); %>

<main>
    <div class="about-container">
        <div class="about">
                <div class="card">
                    <div class="box box1">
                        <h2>Who are we</h2>
                        <p>We are six students Théo.D, Théo.P, Quentin, Djallal, Eliot and Corentin  in our first year at ISEN. Our project consists in creating a logic game presented in the <span><a href="/index">Home</a></span></p>
                    </div>
                    <div class="bg">
                    </div>
                </div>
        </div>
    </div>
    <div class="Linkedin-container1">
            <div class="Linkedin">
                <div class="hovereffect">
                        <img class="img-responsive" src="img/corentin.png" alt="Corentin Sotoca">
                    <div class="overlay">
                        <h2>Game Dev-Back End</h2>
                        <a class="info" href="https://www.linkedin.com/in/corentin-sotoca/" target="_blank">Linkedin</a>
                    </div>
                </div>
            </div>
            <div class="Linkedin">
                <div class="hovereffect">
                        <img class="img-responsive" src="img/théop.png" alt="Théo Porzio">
                    <div class="overlay">
                        <h2>Game Dev-Front End</h2>
                        <a class="info" href="https://www.linkedin.com/in/th%C3%A9o-porzio-6537b11a4/" target="_blank">Linkedin</a>
                    </div>
                </div>
            </div>
            <div class="Linkedin">
                <div class="hovereffect">
                        <img class="img-responsive" src="img/eliot.png" alt="Eliot Leleu">
                    <div class="overlay">
                        <h2>Game Dev-Back End</h2>
                        <a class="info" href="" target="_blank">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Linkedin-container2">
            <div class="Linkedin">
                <div class="hovereffect">
                        <img class="img-responsive" src="img/mehdi.png" alt="Djallal Chafai">
                    <div class="overlay">
                        <h2>Game Dev-Back End</h2>
                        <a class="info" href="" target="_blank">Linkedin</a>
                    </div>
                </div>
            </div>
            <div class="Linkedin">
                <div class="hovereffect">
                        <img class="img-responsive" src="img/quentin.png" alt="Quentin Pruvot">
                    <div class="overlay">
                        <h2>Web Developper</h2>
                        <a class="info" href="https://www.linkedin.com/in/quentin-pruvot-a023b0205/" target="_blank">Linkedin</a>
                    </div>
                </div>
            </div>
            <div class="Linkedin">
                <div class="hovereffect">
                        <img class="img-responsive" src="img/théod.png" alt="Théo Danel">
                    <div class="overlay">
                        <h2>Web Developper</h2>
                        <a class="info" href="https://www.linkedin.com/in/th%C3%A9o-danel-874359213/" target="_blank">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>

</main> 

    <%- include('templates/footer.ejs'); %>
<p class="copyright"> &copy; PROJECT realise by Théo P, Théo D, Eliot, Djallal, Corentin and Quentin.</p>
</body>
</html>







