<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Protokode</title>
    <meta name="description" content="test">
	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/65f54486e0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <!-- CSS perso -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('templates/header.ejs'); %>

<main>
    <div class="about-container">
        <div class="about">
                <div class="card">
                    <div class="box box1">
                        <h2>Who are we</h2>
                        <p>We are six students Théo.D, Théo.P, Quentin, Djallal, Eliot and Corentin  in our first year at ISEN. Our project consists in creating a logic game presented in the <span><a href="/index">Home</a></span></p>
                    </div>
                    <div class="bg">
                    </div>
                </div>
        </div>
        <div class="Linkedln-container">
            <div class="all">
                <div class="lefter">
                <div class="text">Hosting</div>
                </div>
                <div class="left">
                <div class="text">Web Design</div>
                </div>
                <div class="center">
                <div class="explainer"><span>Our Linkedln</span></div>
                <div class="text">Frontend Development</div>
                </div>
                <div class="right">
                <div class="text">Backend Development</div>
                </div>
                <div class="righter">
                <div class="text">SEO</div>
                </div>
            </div>
        </div>
    </div>

</main> 

    <%- include('templates/footer.ejs'); %>
<p class="copyright"> &copy; PROJECT realise by Théo P, Théo D, Eliot, Djallal, Corentin and Quentin.</p>
</body>
</html>







