<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Protokode</title>
    <meta name="description" content="test">
	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/65f54486e0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <!-- CSS perso -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <%- include('templates/header.ejs'); %>
</header>
<main>
    <p>contact</p>
</main>
    <%- include('templates/footer.ejs'); %>
<p class="copyright"> &copy; PROJECT realise by Théo P, Théo D, Eliot, Djallal, Corentin and Quentin.</p>
</body>
</html>







