<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="description" content="test">
	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/65f54486e0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">

    <!-- CSS perso -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <%- include('templates/header.ejs'); %>
</header>
<main>
    <p>Jeu en cours de développement. -> page test</p>
    <a href="/test">Page de test</a>
</main>
<footer>
    <%- include('templates/footer.ejs'); %>
</footer>
<p class="copyright"> &copy; PROJECT realised by Théo P, Théo D, Eliot, Djallal, Corentin and Quentin.</p>
</body>
</html>







