<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Protokode</title>
    <meta name="description" content="test">
	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/65f54486e0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">

    <!-- CSS perso -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('templates/header.ejs'); %>
    <main>
        <h1>Water sort puzzle</h1>

        <div class="quotes">
            <div class="card">
                <div class="box box1">
                    <h2>Description of the game</h2>
                    <p class="cube">Water Sort puzzle is a puzzle game where the goal is to collect liquids of the same color in a tube.</p>
                </div>
                <div class="bg">
                </div>
            </div>
            <div class="card">
                <div class="box box2">
                    <h2>How to play </h2>
                            <ul class="cube">
                                <li>Slide any glass to another glass where it is possible to pour in order to pour water into it.</li>
                                <li>The rule is that you can only pour the water if it is linked to the same color and there’re enough space on the glass.</li>
                                <li>Try not to get stuck - but don’t worry, you can always restart the level at any time.</li>
                            </ul>
                </div>
                <div class="bg">
                </div>
            </div>
            <div class="card">
                <div class="box box3">
                    <h2>Rules </h2>
                            <ul class="cube">
                                <li> Only one element can be move. </li>
                                <li> Only elements of the same color can be assembled </li>
                            </ul>

                </div>
                <div class="bg">
                </div>
            </div>
    </div>
    <div class="press-start"><figure class="aligncenter size-full"><a href="/game"><img src="img/press-start.gif" alt="press start" class="press start"/></a></figure></div>
    </main>

<%- include('templates/footer.ejs'); %>
<p class="copyright"> &copy; PROJECT realised by Théo P, Théo D, Eliot, Djallal, Corentin and Quentin.</p>
</body>
</html>







