<footer>
<div class="footer-container">
    <div class="footer-reseaux">
        <h2>Our Network</h2>
        <ul class="reseaux">
            <li>
                <a href="https://www.isen-lille.fr/"><i class="fab fa-facebook-f icon"></i></a></li>
            <li>
                <a href="https://www.isen-lille.fr/"><i class="fab fa-youtube icon"></i></a></li>
            <li>
                <a href="https://www.isen-lille.fr/"><i class="fab fa-twitter-square icon"></i></a></li>
            <li>
                <a href="https://www.isen-lille.fr/"><i class="fab fa-instagram icon"></i></a></li>
        </ul>
    </div>
    <div class="footer-navigation">
        <h2>Navigation</h2>
        <ul class="navigation">
            <li>
                <a href="/index">Welcome</a>
            </li>
            <li>
                <a href="/game">Game</a>
            </li>
            <li>
                <a href="/aboutus">About Us</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>

    <div class="container-image">
        <div class="item">
            <img src="../img/img-soda.png" title="soda" alt="soda">
        </div>
    </div>
</div>
</footer>
