<header>
    <nav class="header">
        <div class="header-container">
            <div class="header-logo">
                <a href="/index"><img class="static" src="../img/logo.png" title="logo" alt ="logo"><img class="active" src="../img/logo.gif" title="logo" alt ="logo"></a>

            </div>
            <div class="container-page">
                <div class="header-page">
                    <h3><a href="/index">Home</a></h3>
                </div>
                <div class="header-page">
                    <h3><a href="/game">Game</a></h3>
                </div>
                
            </div>
        </div>
    </nav>
</header>

